[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.9'

[packages]
pandas = '*'
numpy = '*'
scikit-learn = '*'
coloredlogs = '*'
tqdm = '*'
google-cloud-storage = '*'
rasterio = '*'
matplotlib = '*'
dask = "*"
distributed = "*"

[dev-packages]
pdbpp = '*'
black = '*'
ipykernel = "*"
bokeh = "*"

[scripts]
format = "python -m black ceos_indices/ -l 119"
test = "pytest tests"
