[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.9'

[packages]
pandas = '*'
numpy = '*'
scikit-learn = '*'
coloredlogs = '*'
tqdm = '*'
google-cloud-storage = '*'
rasterio = '*'
matplotlib = '*'
dask = "*"
distributed = "*"
geopandas = "*"
shapely = "*"
vds-api-client = "*"

[dev-packages]
pdbpp = '*'
black = '*'
ipykernel = "*"
bokeh = "*"
pylint = "*"
pytest = "*"

[scripts]
format = "python -m black ceos_indices/ -l 119"
test = "python -m pytest tests/"
lint = "python -m pylint ceos_indices/ --max-line-length=120"
